<div class="footer">
  <div class="footer-column text-align-center">
    <h6 class="footer-titles">Flash⚡Cars</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil error.</p>
  </div>
  <div class="footer-column">
    <h6 class="footer-titles">Useful links</h6>
    <p><%= link_to "My profile", user_path(current_user) %></p>
    <p><a href="https://testimonial-generator.com/">They talk about us</a></p>
    <p><%= link_to "All our cars", cars_path %></p>
  </div>
  <div class="footer-column">
    <h6 class="footer-titles">Contacts</h6>
    <p>FlashCars ltd</p>
    <p>16 Villa Gaudelet 75011 Paris</p>
    <p>flash-car@contact.com</p>
  </div>
</div>