
<div class="container">
<div class="row">
  <div class="message-container">
    <h1>Electrify your days. <br>Choose Flash Cars. </h1>
  </div>
  <div class="form-container w-50 text-center mx-auto">
    <%= render "form", car: @car_preferences %>
  </div>
</div>