
<div class="container">
  <div class="col">
    <div class="row">
      <div class="message-container">
        <h1>Electrify your days. <br>Choose Flash Cars. </h1>
      </div>
    </div>
    <div class="row">
      <div class="form-container w-50 text-center mx-auto">
        <%= render "form"%>
      </div>
    </div>
    </div>
  </div>
</div>
