.card {
  box-shadow: 0px 20px 23px -6px rgba(0,0,0,0.64);
  border-radius: 15px 15px 15px 15px;
  border: solid 2px #009FE2;

  p {
    justify-content: center;
    margin: 2px;
    padding-left: 10%;
  }
}

.button-add {
  position: absolute;
  top: 10px;
  right: 10px;
  a {
    text-decoration: none;
    color: #464646;

    &:hover {
      color: #636363;
      transition: 0.2;
   }
  }
}

.grey-cards {
  position: relative;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.user-rents-cards {
  position: relative;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.user-reservation-cards {
  position: relative;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}


.button-destroy {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  button {
    border-color: none;
    border-width: 0;
    border-style: none;
    background-color: none;
  }
  a {
    text-decoration: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.index-card {
  margin: 12px;
  background-color: white;
  padding: 12px;
  height: 400px;
  width: 250px;
  border-radius: 5px;

  .car-location  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

    .btn {
      margin: 0;
      position: relative;
      bottom: 0;
      align-self: flex-end;
      padding-bottom: 3px;
    }
  


  p {
    margin: 2px;
  }

}

.index-img {
  height: 150px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
}

.index-cards {
  display: flex;
  grid-gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

