.footer {
  position: absolute;
  width: 100%;
  color: white;
  background-color: #009FE2;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  
  .footer-column {
    text-align: center;;
    width: 150px;
    font-size: 12px;
  }
  
  p {
    margin: 2px;
    color: white;
  }
  
  a {
    margin: 2px;
    color: white;
  }

}