.map-box {
  height: 400px;
  width: 600px;
  border: solid 2px red;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-img {
  width: 100px;
}

#map {
  margin-top: 52px;
}