<h1>🚙 <%= @car[:model] %> 🚙</h1>
<p>💸 Price : <%= @car[:price] %> 💸</p>

<%= link_to "Delete the Car",
            car_path(@car),
            method: :delete,
            data: { confirm: "Are you sure?" } %>